* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fbfcfb;
}

.page-title {
  text-transform: uppercase;
  margin: 2rem 0 1.5rem 3.4rem;
}

#search-input {
  display: block;
  width: 380px;
  height: 2rem;
  font-size: 1rem;
  color: #666;
  background-image: url("/img/mag-glass.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: calc(100% - 12px);
  outline: none;
  padding-left: 1rem;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  margin: 0 auto 1rem auto;
}

#search-input::placeholder {
  color: #ccc;
  padding-left: 2px;
}

#cards-wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.card {
  display: grid;
  grid-auto-columns: 10rem 1fr;
  grid-template-areas:
    "img name"
    "img email"
    "img city";
  grid-auto-rows: 1fr 1fr 1fr;
  width: 380px; /* make the boxes the same size */
  background-color: #fff;
  padding-right: 1rem;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.employee-image {
  grid-area: img;
  border-radius: 50%;
  margin: 1rem;
}

.employee-name {
  grid-area: name;
  font-weight: bolder;
  align-self: end;
  height: 0rem;
  text-transform: capitalize;
}

.employee-email {
  grid-area: email;
  align-self: end;
  height: 1.5rem;
}

.employee-city {
  grid-area: city;
  align-self: start;
  text-transform: capitalize;
}

.employee-email,
.employee-city {
  font-size: 0.7rem;
  color: #666;
}

.employee-cell,
.employee-address,
.employee-birthday,
.employee-index {
  display: none;
  text-transform: capitalize;
}

/*  =-=-=-=-=-=-=-=-= MODAL CARD =-=-=-=-=-=-=-=-=-= */
.modal-mask {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-card {
  position: relative;
  text-align: center;
  width: 375px;
  height: 420px;
  background-color: #fff;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
}

.modal-employee-image {
  border-radius: 50%;
  margin: 2em auto 1em auto;
}

.modal-employee-name {
  font-weight: bold;
  color: #333;
  padding-bottom: 6px;
}

.modal-employee-email,
.modal-employee-city {
  font-size: 12px;
  color: #91979a;
  padding: 4px;
}

.modal-employee-cell,
.modal-employee-address,
.modal-employee-birthday {
  font-size: 12px;
  color: #91979a;
  padding: 8px;
}

.modal-employee-image,
.modal-employee-name,
.modal-employee-email,
.modal-employee-city,
.modal-employee-address,
.modal-employee-cell,
.modal-employee-birthday {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.modal-employee-email {
  text-transform: lowercase;
}

.modal-ruler {
  width: 75%;
  border: 0.9px solid #e4e4e4;
  margin: 1.4rem auto;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 1.8rem;
  color: #33424b;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover {
  transform: rotate(135deg);
}

#modal-nav-forward,
#modal-nav-back {
  position: absolute;
  bottom: 12px;
  font-size: 2rem;
  color: #33424b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#modal-nav-forward {
  right: 12px;
}

#modal-nav-back {
  left: 12px;
}

#modal-nav-forward:hover {
  color: #e01e5a;
  font-size: 2.5rem;
  transform: rotate(360deg);
}

#modal-nav-back:hover {
  color: #e01e5a;
  font-size: 2.5rem;
  transform: rotate(360deg);
}

.modal-employee-index {
  display: none;
}

/* =-=-=-=-=-=-= MEDIA QUERIES =-=-=-=-=-=-=-=-=-=-=-=-= */
@media (min-width: 768px) {
  .page-title {
    margin: 2rem 0 2rem 2rem;
  }

  #cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
